<ion-header>
  <ion-toolbar>
    <ion-title >Bienvenide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img
    src="https://cdn.discordapp.com/attachments/996255673698488323/1021465841176420452/Logo_deportivo_de_ave_fenix_naranjado_con_negro_y_blanco_3.png"
    alt="">


  <ion-item>
    <ion-button [routerLink]="['/inicio-sesion']" fill="outline" >
      <ion-icon slot="start" name="person-outline"></ion-icon>
      Iniciar Sesión
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/registro-usuario']" fill="outline">
      <ion-icon slot="start" name="person-add-outline"></ion-icon>
      Registrarse
    </ion-button>
  </ion-item>



</ion-content>
